.container
  .row
    %h1.back
      = link_to 'Actions', tasks_path

    %h2= @task.title
    %h3.margin-bottom-2= @task.subtitle

    = render partial: @task.description, locals: {task: @task}
    = render partial: @task.form, locals: {task: @task}
