.container
  = simple_form_for(@user) do |form|
    = form.hidden_field :legacy_survey_response_id
    = form.input :first_name
    = form.input :last_name
    = form.input :email
    = form.input :location
    = form.input :password
    = form.button :submit, class: 'btn-primary'
