name: #{@project::NAME}
<br />
key: #{@project::KEY}

= form_for :project, url: admin_project_path(@project::KEY), method: :put do |form|
  = form.collection_check_boxes :domains, Domain.all, :id, :name, checked: @project.domain_ids
  <br />
  = form.button :submit
