%h1 Update Project

name: #{@project::NAME}
<br />
key: #{@project::KEY}

= form_for :project, url: admin_project_path(key: @project::KEY), method: :put do |form|
  %h2 Domains
  = form.collection_check_boxes :domains, Domain.all, :id, :name, checked: @project.domain_ids
  <br />
  = form.submit 'Update Project', class: 'btn btn-primary'
