.col-xs-12
  %h1 Cities

.col-sm-6.margin-bottom-4
  .btn.btn-primary= link_to 'New City', new_admin_city_path

.col-xs-12
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th State
        %th Latitude
        %th Longitude
        %th
        %th
        %th
    %tbody
      - @cities.each do |city|
        %tr
          %td= city.name
          %td= city.state
          %td= city.latitude
          %td= city.longitude
          %td
            .btn.btn-sm.btn-default= link_to 'View', admin_city_path(city)
          %td
            .btn.btn-sm.btn-default= link_to 'Edit', edit_admin_city_path(city)
          %td
            .btn.btn-sm.btn-danger= link_to 'Delete', admin_city_path(city), method: :delete, data: {confirm: 'Are you sure?'}
