%h1 New City

= simple_form_for(@city, url: admin_cities_path, method: :post, html: {class: 'form-horizontal'}) do |form|
  = form.input :name
  = form.input :state
  = form.input :latitude
  = form.input :longitude
  = form.button :submit
