.col-xs-12
  %h1 Counties

.col-sm-6.margin-bottom-4
  .btn.btn-primary= link_to 'New County', new_admin_county_path

.col-xs-12
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th State
        %th Latitude
        %th Longitude
        %th
        %th
    %tbody
      - @counties.each do |county|
        %tr
          %td= county.name
          %td= county.state
          %td= county.latitude
          %td= county.longitude
          %td
            .btn.btn-default.btn-sm= link_to 'Edit', edit_admin_county_path(county)
          %td
            .btn.btn-sm.btn-danger= link_to 'Delete', admin_county_path(county), method: :delete, data: {confirm: 'Are you sure?'}
