.row.footer
  .container
    .col-sm-4
      = link_to 'We The Protesters', 'http://www.wetheprotesters.org/', target: '_blank'
      <br />
      = link_to 'Campaign Zero', 'http://www.joincampaignzero.org/', target: '_blank'
      <br />
      = link_to 'Police Use of Force', 'http://useofforceproject.org/', target: '_blank'
      <br />
      = link_to 'Mapping Police Violence', 'http://mappingpoliceviolence.org/', target: '_blank'
    .col-sm-4
      = link_to 'Check The Police', 'http://www.checkthepolice.org/', target: '_blank'
      <br />
      = link_to 'The Demands', 'http://www.thedemands.org/', target: '_blank'
      <br />
      = link_to 'Protester Progress', 'http://www.protesterprogress.org/', target: '_blank'
    .col-sm-4
    .col-sm-4
      .row
        .col-xs-6
          Share the love...
        .col-xs-6.text-right.sharing-container
          = image_tag 'twitter.png', class: 'sharing'
          = image_tag 'facebook.png', class: 'sharing'
          = image_tag 'linkedin.png', class: 'sharing'
      .row.text-right.credits
        .col-xs-12
          Photo by Johnny Silvercloud
          <br />
          = image_tag 'cc.png', class: 'cc'
          Creative Commons
          <br />
          .bold &copy; 2016 We The Protesters
